// Configure paths
params.base_dir = "s3://nao-mgs-wb/tagging-test"
workDir   = "${params.base_dir}/work"
outputDir  = "${params.base_dir}/output"

// Other configuration
docker.enabled = true
wave.enabled = true
fusion.enabled = true
fusion.exportStorageCredentials = true
aws.client.maxConnections = 1000
aws.client.maxErrorRetry = 10
aws.client.connectionTimeout = 0
aws.client.socketTimeout = 0
